body{

			text-align: center;
			margin: auto;
			max-width: 500px;
			
		}

#teste{
			font-size: 25px;
			color: green;
			background-color: pink;
			border-radius: 50px;
			padding: 20px;
		}

.fundoverde{
			font-size: 30px;
			color: darkblue;
			background-color: greenyellow;
			border-radius: 10px;
			padding: 10px;
}